<h1> Welcome to Coin Combinations!</h1>
<form action="/change_output">
  <div class = "form-group">
    <label for="change">How much change would you like to give?</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
